.profile-header {
  text-align: center;
}

.profile-name {
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 0;
}

.profile-title {
  font-size: 13px;
  font-weight: 500;
  color: #f3bf99;
  text-align: center;
}

button {
  width: 85%;
  height: 35px;
  border: none;
  border-radius: 6px;
}

#email {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #d1d5db;
  color: #374151;
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
}

#email:hover {
    background-color: #909090;
}

.content-container {
  padding: 22px;
  margin: 16px 8px;
  margin-top: 0;
}

.subtitle {
  margin-bottom: 0;
  line-height: 200%;
  font-size: 16;
  font-weight: bold;
}

p {
  margin-top: 0;
  text-align: justify;
  font-size: 11px;
  font-weight: 500;
  line-height: 125%;
}

.soc-med-bar {
  background-color: #161619;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.soc-med-bar > a > img {
  opacity: 0.35;
}

.soc-med-bar > a > img:hover {
  opacity: 0.65;
}
